# Dependency directories
node_modules/

# Compiled output
dist/

# Environment variables file (if using dotenv)
.env

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test result files
test-results/

# Operating System files
.DS_Store
Thumbs.db
